
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/mathematics.jpg), linear-gradient(#28d185, pink) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.grid-container {
    padding: 38px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 21px;
    border-radius: 21px;
    box-shadow: inset 2px 0px 13px 17px #181717;
    background: linear-gradient(340deg, #222122, #00f8f8);
    animation: saro 5s;
}

.grid-container .outputscreen {
    grid-column: 1/5;
    background-color: white;
    padding: 28px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 0px black, 3px 4px 9px 0px lightgrey;
    border: 9px inset white;
    font-size: 2em;
}

.grid-container button {
    font-size: 1em;
    background: #f5f3f3;
    cursor: pointer;
    width: 100%;
    color: black;
    padding: 10px 17px;
    border-radius: 12px;
    border: 7px ridge white;
    outline: none;
    box-shadow: inset 0px 0px 5px 0px black, 3px 4px 9px 0px lightgrey;
    font-family: cursive;
    font-weight: bold;
}

#btn13 {
    grid-row: 2/3;
    grid-column: 3/4;
}

#btn17 {
    grid-row: 2/3;
    grid-column: 4/5;
}

#btn18 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#btn19 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-container button:active {
    transform: scale(.9);
}

.js-buttons {
    display: flex;
}

.js-buttons button {
    padding: 10px;
    color: black;
    background-color: white;
    outline: 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 0px 8px 0px 25px;
    box-shadow: 5px 4px 5px 0px black, inset -2px -1px 4px 0px black;
    cursor: pointer;
    font-weight: bold;
    animation: saro2 5s;
}

.js-buttons button:hover {
    box-shadow: 3px 2px 15px 2px white;
    background-color: black;
    color: white;
    transition: 1s;
}

.js-buttons button:active {
    transform: translateY(4px);
}

/* animations */

  @keyframes saro {
    0% {
        transform: rotateX(94deg) translateX(-489px) rotate(360deg);
    }

    50% {
        transform: rotateX(94deg) translateX(289px) rotate(0deg);
    }

    100% {
        transform: rotatex(0deg);
    }
}

@keyframes saro2 {
  0% {
        transform: rotateY(94deg) translateY(-489px) rotate(360deg);
    }

    50% {
        transform: rotateY(34deg) translateY(100px) rotate(400deg) translateX(-410px);
    }

    100% {
        transform: rotateY(0deg);
    }
}    




